<h1>iplayed</h1>

<p>Document where you play so you can reference your past for future fun!</p>

<form method="POST" action="/">
  <label>Name of place:
    <br>
    <input id="name_of_place" name="name_of_place">
  </label>
  <br>
  <label>Address:
    <br>
    <input id="address" name="address"
  </label>
  <br>
  <label>Who I played with:
    <br>
    <input id="friends" name="friends"
  </label>
  <br>
  <label>Day I went:
    <br>
    <input id="day_went" name="day_went">
  </label>
  <br>
  <label>What did you do/eat/play?
    <br>
    <textarea id ="description" name="description"></textarea>
  </label>
</form>